
.black-color{
    color:red;
    font-size: large;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav-item{

   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: black;
   border: 1px solid black;
   height: 110px;
   width: 100%;
   padding: 40px;
}

.nav-item-2{
   border: 1px solid #F3DE6D;
   background-color: #F3DE6D;
   text-align: center;
   width: 74px;
   height: 40px;
   
}



.nav-item-3{
  border: 1px; 
  width: 72px;
  height: 32px; 
  padding-left: 5px;
}

.nav-item-4{
  background-color: black; 
  height: 48px; display: flex; 
  align-items: center;
  gap: 10px;
  padding-left: 10px ;
}

.nav-item-5{
  border: 1px;
  background-color: #F3DE6D;
  height: 48px; 
  padding-left: 20px; 
  display: flex;
  justify-content: center; 
  align-items: center;
}

.nav-item-6{
  border: 1px; 
  background-color: #1B6392;
  width: 1920px;
  align-items: center;
  width: 100%; 
  height: 52px; 
  display: flex; 
  justify-content: space-around;
}

.nav-item-7{
  display: flex; 
  height: 16px; 
  padding-right: 40px; 
  padding: 35px; 
  gap: 15px;
}
.nav-item-8{
  border: 1px solid grey;
  width: 100%;
  height: 220px;
}

.nav-item-9{
  border: 1px solid #1B6392;
  background-color: #1B6392;
   width:100%;
   height: 88px;
}



.flex-item{
  display: flex; 
  flex-direction: row; 
  justify-content: space-around; 
  padding: 60px;
  border: 1px; 
  background-color:black; 
  width: 100%;
  height: 170px;
}

 .flex-item-1{
  text-align: center;
  width: 100%;
}  

.flex-item-2{
  text-align: center;
  width:80%;
  height: 1px;

}



.flex-item-3{
  border: 1px solid black; 
  height: 60px;
  background-color: black; 
  display: flex; 
  justify-content:center; 
  gap: 40px;
  padding:60px;
}

.flax-item-4{
  border: 1px solid black;
  width: 100%; 
  background-color: black; 
  height: 300px;
}



.p-style{
  font-size: 20px; 
  margin: 14px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-style-1{
  color: white;
  height: 32px;
  font-size: 0.5cm;
  margin-top: 15px;
}

.p-style-2{
  color: #F3DE6D;
  font-size: 40px;
}

.p-style-3{
  color:white;
  font-size: 18px;
}

.p-style-4{
  font-size: 20px;
  color: white;
}

.p-style-5{
 font-size: 14px; 
 margin-top: 15px;

 
}

.p-style-6{
  color: black; 
  font-size: 14px; 
  margin-top: 35px;
}

.p-style-7{
  font-size: 14px;
  margin-top: 35px
}
/* Fonts */





h3 {
    color: #F3DE6D;
    font-size: 40px;
}




#div {
    height: 50px;
    width: 50px;
    rotate: -8deg;
  }

  .grid-contaainer{
    display: grid;
    grid-template-columns:repeat(6,1fr);
    grid-template-rows: repeat(5,1fr);
    gap: 15px;
  }

  .transition-div{
    width: 50px;
    height: 0px;
    background-color: #FF0000;
    color: white;
    font-weight: bold;
    transition: width 10s;
    transition-delay: 3s;
    transition-duration: 2s;
  }
  
  .transition-div:hover{
    width: 500px;
    height: 200px;
  }

  unvisited link
  a:link {
    color: #0800ff;
  }
  
  visited link
  a:visited {
    color: rgb(0, 255, 34);
  }
  
  mouse over link
  a:hover {
    color: #0091ff;
  }
  
  selected link
  a:active {
    color: #ff0000;
  }
  
  .parent:nth-child(3){
    border: 2px solid blue;
    background-color: #0000FF;
  }
  .click-me {
  background-color:blue;
  border: 1px;
  width: 400px;
  height: 70px;
  }
  
  .click-me:hover{
  background-color: rgb(124, 124, 252);
  
  }



  @media only screen and (max-width: 992px) {
    .flex-item{
      padding-left: 400px;
      padding-bottom: 250px;
      padding-top: 220px;
      justify-content: center;
      flex-direction: column;
    }
  }


  @media only screen and (max-width: 992px) {
    .flex-item  div{
padding: 3px;
    }
  }


.parent-kay-frame{
  display: flex;
  justify-content: space-between;

}
  
.child-kay-frame{
margin-top: 100px;
position: relative;
width: 150px;
height: 70px;
background-color: aqua;
color: red;
animation: mymove 2s infinite;
display: flex;
justify-content: center;
align-items: center;
}

.child-kay-frame-2{
margin-top: 100px;
position: relative;
width: 150px;
height: 70px;
background-color: aqua;
color: red;
animation: mymove2 2s infinite;
display: flex;
justify-content: center;
align-items: center;
}

@keyframes mymove {
  0%{
    left: 0;
  }
  50%{
    color: yellow;
    background-color: #FF0000;
    left: 350px;
    rotate: 180deg;
    font-size: 25px;
  }
  100%{
    font-size: 25px;
    color: brown;
    background-color: aqua;
    left: 700px;
    rotate: -360deg;
  }
}


@keyframes mymove2 {
  0%{
    right: 0;
  }
  50%{
    color: rgb(255, 0, 0);
    background-color: #f28888;
    right: 350px;
    rotate: 180deg;
    font-size: 25px;
  }
  100%{
    font-size: 25px;
    color: rgb(104, 42, 165);
    background-color: rgb(123, 255, 0);
    right: 700px;
    rotate: -360deg;
  }
  
}