*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* 
.rounded-border{
  border: 6px;
} */

.sale{
  border: 1px solid;
  background-color: black;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
}

.sale-item{
  display: flex;
  align-items: center;
  gap: 15px;
}

.black-style{
  border: 1px solid #EBC80C;
  width: 74px;
  height: 40px;
  background-color:#EBC80C;
  display: flex;
  align-items: center;
  padding: 10px;
  
}



.sale-item-1{
  display: flex;
  align-items: center;
  gap: 10px;
}

.sale-item-2{
  background-color: #EBC80C;
  border: 1px;
  width: 156px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  
 
}

.sale-arrow{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.nav{
  border: 1px;
  height: 52px;
  background-color: #1B6392;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.eng{
  display: flex;
  gap: 10px;
}

.nav-1{
  border: 1px;
  width: 485px;
  height: 20px;
  
}

.nav-2{
  border: 1px;
  width: 496px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 12px;
}

.nav-3{
  display: flex;
  gap: 40px;
  padding-right: 30px;
}

.nav-divline{
  border: 1px solid gray;
  width: 1px;
  height: 20px;

}

.icon-nav{
  gap: 15px;
  display: flex;
  
}

.nav-item{
  border: 1px solid #1B6392;
  height: 88px;
  background-color: #1B6392;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.nav-item-2{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 110px;
  gap: 20px;
}

.search-form{
  border: 1px;
  width: 646;
  height: 48;
}

.nav-clicon{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 90px;
}

.white-nav{
  border: 1px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 150px;
}

.white-nav-1{
  width: 695px;
  height: 48px;
  gap: 24px;
  border: 1px;
  display: flex;justify-content: center;
  align-items: center;
}

.white-nav-2{
  border: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}


.all-category{
  border: 1px solid #F2F4F5;
  background-color: #F2F4F5;
  width: 154px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.track{
  display: flex;
  align-items: center;
  gap: 5px;
}
.compare{
  display: flex;
  align-items: center;
  gap: 5px;
}
.costumer{
  display: flex;
  align-items: center;
  gap: 5px;
}
.need{
  display: flex;
  align-items: center;
  gap: 5px;
}

 #div {
  height: 50px;
  width: 80px;
  rotate: -8deg;
}

/* .grid-container{
  grid-template-columns:repeat(3, 1fr);
  grid-template-rows: repeat(1,1fr);
  display: grid;
  gap: 15px;
}
  */

/* .sale-div{
  height: 700px;
  border: 1px solid red;
} */

.sale-border{
  border: 1px;
  height: 600px;
  display: flex;
  justify-content: center;
  padding-top: 30px;
  gap: 30px;
}
 
.x-box{
border-radius: 6px;
border: 1px;
width: 872px;
height: 520px;
background-color: #F2F4F5;
display: flex;
justify-content: center;
align-items: center;
gap: 20px;
border-radius: 6px;
position: relative;
}

.price{
  width: 101px;
  height: 100px;
  border-radius: 100px;
  border: 1px;
  background-color: #2DA5F3;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 22px;
  font-weight: bold;
  top: 56px;
  left: 717px;

}
  
.x-box-in{
  border-radius: 6px;
  border: 1px;
  width: 356px;
  height: 224px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.x-shop-naw{
  border-radius: 6px;
  border: 1px;
  background-color: #FA8232;
  width: 191px;
  height: 56px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  
}

.sale-29-off{
  border: 1px;
  background-color: #EFD33D;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  top: 24px;
  right: 24px;
  width: 102px;
  height: 40px;
  position: absolute;
  color:black;
  font-weight: bold;
  border-radius: 2px;
}

.x-shop-naw-1{
  border-radius: 6px;
  border: 1px;
  background-color: #FA8232;
  width: 191px;
  height: 56px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 156px;
  height: 48px;
}

.x-box-inn-right{
  border-radius: 6px;
  border: 1px;
  width: 368px;
  height: 408px;
}


.x-box-right{
  border-radius: 6px;
  border: 1px;
  background-color: #191C1F;
  width: 424px;
  height: 245px;
  /* background-color: #191C1F; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  
}

.x-box-right-l{
  border-radius: 6px;
  border: 1px;
  width: 160px;
  height: 155px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.x-box-right-r{
border-radius: 6px;
border: 1px;
width: 240px;
height: 202px;
margin-top: 46px;
margin-left: 17px;
}

.x-box-right1{
  border-radius: 6px;
  border: 1px;
  width: 424px;
  height: 245px;
  background-color: #F2F4F5;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

.x-box-right-1-r{
  border-radius: 6px;
  border: 1px;
  width: 172px;
  height: 168px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.x-box-right-1-l{
  border-radius: 6px;
  border: 1px;
  width: 160px;
  height: 160px;
}

.x-box-right-2{
  border-radius: 6px;
  display:flex;
  flex-direction: column;
  gap: 30px;
}


.footer-style{
  border: 1px;
  background-color: black;
  display: flex;
  flex-direction: row;
  height: 300px;
  justify-content: space-evenly;
  padding: 150px;

}

.p-299{
  font-size: 18px;
  color: #2DA5F3;
}

.p-xiaomi{
  font-size: 24px;
  font-weight: bold;
}

.p-new-google{
  font-size: 24px;
  color: white;
}

.p-summer-sales{
  color: #EBC80C;
  font-size: 14px;

}

.p-save-to-50{
  font-size: 18px;
}

.a-best-place{
  font-size: 14px;
  color: #2484C2;
}

.x-box-font{
  font-size: 48px;
  font-weight: bold;
}

.p-clicon{
  font-size: 32px;
  color: white;
}

.p-class-up-off{
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.p-class-up-to{
  color: white;
  font-size: 14px;
}

.p-class-friday{
  color: white;
  font-weight: bold;
  font-size: 24px;
}

.p-class-shop{
  color: black;
  font-weight: bold;
  font-size: 14px;
  
}

.p-class-59{
  color: #EBC80C;
  font-size: 40px;
  font-weight: bold;
}

.p-class-welcome{
  font-size: 14px;
}

.a-call{
  color: black;
  font-size: 18px;
  font-weight: bold;
}



a{
  color: white;
}

i{
  color: white;
}

.copyright-p{
  color: white;
}

.logo{
  color: white;
}




.footer-style div{
  display: flex;
  flex-direction: column;
}

.futer-div-line{
  border: 1px;
  width: 80%;
  height: 1px;
  background-color: gray;
  align-items: center;
  
}

.logo-div{
  display: flex;
  align-items: center;
}

.foter-div-parent{
  border: 1px;
  background-color: black;
  display: flex;
  justify-content: center;
}

.icon{
  justify-content: center;
    display: flex;
    margin-top: 70px;
    gap: 10px;
  
}

.icon-parent{
  border: 1px solid black;
  height: 200px;
  background-color: black ;
}

.copyright{
  display: flex;
  justify-content: center;
  font-size: larger;
  margin-top: 10px;
}